@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    if(Model.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            @Model.Error
        </div>
    }

    if(Model.Success != null)
    {
        <div class="alert alert-success" role="alert">
            @Model.Success
        </div>
    }
}

<form asp-action="Index" method="post">
    <input type="search" class="form-control" name="name" placeholder="name anime"/>
    <button class="btn btn-secondary" name="btnSearchExternal" value="true">Search in AnimeSaturn</button>
</form>

<form asp-action="Index" method="post">
    <select class="form-select" name="name">
        @{
            if (Model.listNameAnime != null)
            {
                foreach(var anime in Model.listNameAnime)
                {
                    <option value="@anime.Name">@anime.Name</option>
                }
            }
        }
    </select>
    <button class="btn btn-primary" name="btnSearchInternal" value="true">Search my database</button>
</form>

@{
    if(Model.animeUrl != null)
    {
        <form asp-action="Index" method="post">
        @{
            foreach(var anime in Model.animeUrl)
            {
                <div style="margin-bottom: 10px; margin-top:10px">
                    <input type="radio" id="@anime.Name" name="url_anime_radio" value="@anime.Url">
                    <label>@anime.Name</label>
                    <div>
                        <img src="@anime.UrlImage" class="img-thumbnail img-fluid" style="width:300px">
                    </div>
                </div>
                <hr style="width:50%;text-align:left;margin-left:0">
            }
            <button class="btn btn-warning">Confirm download</button>
        }
        </form>
    }
}
