@page
@model Cesxhin.AnimeSaturn.WebApp.Pages.ViewAnimeModel
@{
}

@{
    if(Model.Anime != null)
    {
        <div>
            @{
            <img src='data:image/jpg;base64,@Convert.ToBase64String(Model.Anime.Image)' class="img-thumbnail img-fluid" style="width:300px">
        }
        </div>
        <h1>Name: @Model.Anime.Name</h1>
        <p>Description: @Model.Anime.Description</p>
        <p>Vote: @Model.Anime.Vote</p>
        <p>Date Release: @Model.Anime.DateRelease.ToString("dd/MM/yyyy")</p>
        <p>Finito: @Model.Anime.Finish</p>
        <p>Duration episode: @Model.Anime.DurationEpisode</p>
        <p>Total number episodes: @Model.Anime.EpisodeTotal</p>

    }

    if(Model.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            @Model.Error
        </div>
    }
}

<a href="Index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Torna indietro</a>
